[user]
	name = "Karol Kowalski"
	email = ordon1313@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
	autocrlf = input
[push]
	default = simple
[pull]
	rebase = true
[help]
	autocorrect = 8
